<div class="pedidos-container">
  <h2>Resumen de tu Pedido</h2>

  <div *ngIf="productos.length > 0; else vacio">
    <div class="lista-productos">
      <div class="item-pedido" *ngFor="let p of productos">
        <img [src]="p.img" width="60">
        <div class="info">
          <p>{{ p.nombre }}</p>
          <span>$ {{ p.precio }}</span>
        </div>
        <button class="btn-borrar" (click)="quitarTenis(p)">❌</button>
      </div>
    </div>

    <div class="total-seccion">
      <h3>Total a pagar: ${{ total.toLocaleString('es-CO') }}</h3>
    </div>

    <div class="formulario">
      <input type="text" [(ngModel)]="nombre" placeholder="Nombre completo">
      <input type="text" [(ngModel)]="direccion" placeholder="Dirección">
      <input type="text" [(ngModel)]="telefono" placeholder="Teléfono">
      <button class="btn-finalizar" (click)="hacerPedido()">COMPRAR AHORA</button>
    </div>
  </div>

  <ng-template #vacio>
    <p>No hay productos en el carrito.</p>
  </ng-template>
</div>