<div class="pedidos-page">
  <div class="resumen-seccion">
    <h2>Tu Carrito de Compras</h2>
    
    <div *ngIf="productos.length === 0" class="vacio-msg">
      No has añadido tenis todavía.
    </div>

    <div *ngFor="let p of productos" class="item-fila">
      <img [src]="p.img" width="50">
      <span>{{ p.nombre }}</span>
      <strong>$ {{ p.precio }}</strong>
      <button (click)="quitarTenis(p)" class="btn-borrar">✖</button>
    </div>

    <div class="total-caja" *ngIf="productos.length > 0">
      <h3>Total a Pagar: $ {{ total.toLocaleString('es-CO') }}</h3>
    </div>
  </div>

  <div class="formulario-seccion">
    <h3>Datos de Envío</h3>
    
    <div class="campo">
      <input type="text" [(ngModel)]="nombre" placeholder="Nombre completo">
      <small class="error-msg" *ngIf="intentoEnvio && !nombre">El nombre es requerido para la factura.</small>
    </div>

    <div class="campo">
      <input type="text" [(ngModel)]="direccion" placeholder="Dirección de entrega">
      <small class="error-msg" *ngIf="intentoEnvio && !direccion">La dirección es necesaria para el envío.</small>
    </div>

    <div class="campo">
      <input type="text" [(ngModel)]="telefono" placeholder="Teléfono de contacto">
      <small class="error-msg" *ngIf="intentoEnvio && !telefono">Ingresa un número de teléfono válido.</small>
    </div>

    <button (click)="hacerPedido()" class="btn-confirmar">CONFIRMAR COMPRA</button>
  </div>

  <div *ngIf="ordenGenerada" class="debug-json">
    
   
  </div>
</div>